.card {
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 16px;
    text-align: center;
    margin-bottom: 20px;
    height:350px;
}

.card img {
    max-height: 150px;
    object-fit: cover;
    margin-bottom: 15px;
}

.card span {
    font-weight: bold;
    font-size: 1.2em;
    display: block;
    margin-top: 10px;
}

.card p {
    font-size: 0.9em;
    margin: 5px 0;
}

.custom-modal {
    max-width: 90%;
}

