{% extends 'base.html' %}
{% block title %} Professional profile {% endblock %}

{% block content %}

<div class="container border mt-5 p-5">
    <h1>{{ professional.name }}</h1>
    <p class="text-white"><strong>Username:</strong> {{ professional.username }}</p>
    <p class="text-white"><strong>Address:</strong> {{ professional.address }}</p>
    <p class="text-white"><strong>Phone no. :</strong> {{ professional.phone_no }}</p>
    <p class="text-white"><strong>Pincode:</strong> {{ professional.pincode }}</p>
    <p class="text-white"><strong>Service:</strong> {{ professional.service.service_name }}</p>
    <p class="text-white"><strong>Price:</strong> {{ professional.price }}</p>
    <p class="text-white"><strong>Experience:</strong> {{ professional.experience }}</p>
    <p class="text-white"><strong>Service Description:</strong> {{ professional.description }}</p>
    <p class="text-white"><strong>Average Rating:</strong> {{ professional.rating if professional.rating is not none else 'N/A' }}</p>
</div>




<div class="container mt-2 p-4 d-flex align-items-center">
    <h2 class="text-white mb-0">Average Rating :    </h2>
    <p>
    {% if professional.rating %}
       <span style="font-size:300%;color:yellow;" class="ms-5 ml-5">  {{professional.rating}}★</span>
   
    {% endif %}
</p>
</div>


<div class="container border mt-5 p-5">
    <h3 class="text-white text-center mb-4 fs-10">Customer Remarks</h3>

    {% if requests %}
    <div class="row d-flex flex-wrap">
        {% for request in requests %}
        <div class="col-md-6 col-lg-4 mb-4 d-flex">
            <div class="border p-3 text-white flex-fill">
                <p><strong>Customer Name:</strong> {{ request.customer.name }}</p>
                <p><strong>Remarks:</strong> {{ request.remarks }}</p>
                <p><strong>Rating:</strong> {{ request.service_rating }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-white text-center fw-bold"><strong>No remarks available.</strong></p>
    {% endif %}
</div>

{% endblock %}